@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html, body {
  margin: 0;
}

body {
  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

/* Global */

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

a {
  color:#5F94C6;
  font-weight: bold;
  text-decoration: none;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}


/* Wrapper */

.wrapper {
  padding: 50px 0 50px 0;
  width: 50%;
  margin:0 auto;
}

/* Header */

header {
  font-size: 1.4em;
  color: #95B0CF;
  text-align: center;

  margin: auto;
  margin-top: 85px;
}

header h1 {
  text-indent: -9999px;
  height: 67px;
  width: 459px;
  background-image: url(../images/logo.png);

  margin: auto;
  margin-bottom: 30px;
}

header p {
  margin-bottom: 50px;
}

header .graph {
  background-image: url(../images/graph.png);
  background-size: 700px 360px;
  width: 700px;
  height: 360px;

  margin: auto;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  header h1 {
    background-image: url(../images/logo@2x.png);
    background-size: 459px 67px;
  }
}

/* Installation / Usage */

section.code {
  background: #45494F;
}

section.code h2 {
  font-size: 1.6em;
  color: #86ACCF;
  font-family: 'inconsolata', Monaco, Terminal;
}

pre {
  color: #eee;
  font-size: 1.3em;
  margin-bottom: 50px;
}

pre code {
  font-family: 'inconsolata', Monaco, Terminal;
}

pre:last-child {
  margin-bottom: 0;
}

code .bash {
  color: #5F94C6;
}

code .result {
  color: #7C8998;
}

/* Footer */

footer {
  text-align: center;
  bottom:50px;
}

.github-button {
  display: inline-block;

  position: relative;
  top: 4px;
  left: 5px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
