<div id='all'></div>

<script type="text/jsx">
  /** @jsx React.DOM */

  var lines = <%= all_lines.map(&:to_hash).to_json %>;

  var FilterableTODOList = React.createClass({
    render: function() {
      return (
        <div className='filterable-todo-list'>
          <TODOFilters lines={this.props.lines} />
          <TODOLineList lines={this.props.lines} />
        </div>
      );
    }
  });

  var TODOFilters = React.createClass({
    authors: function() {
      return _.uniq(
        _.map(this.props.lines, function(line) { return line.author; })
      );
    },

    render: function() {
      var authorFilter = <TODOSelectFilter field='author' options={this.authors()} />;

      return (
        <div className='controls'>
          <div className='filters'>
            Filter by:
            {authorFilter}
          </div>
        </div>
      );
    }
  });

  var TODOSelectFilter = React.createClass({
    render: function() {
      selectOptions = []
      this.props.options.forEach(function(option) {
        selectOptions.push(<option>{option}</option>);
      });

      return (
        <select data-placeholder={this.props.field} id={this.props.field}>
          {selectOptions}
        </select>
      );
    }
  });

  var TODOLineList = React.createClass({
    render: function() {
      var lines = [];
      this.props.lines.forEach(function(line) {
        lines.push(<TODOLine line={line} />);
      });

      return (
        <div className='lines'>
          {lines}
        </div>
      );
    }
  });

  var TODOLine = React.createClass({
    render: function() {
      return (
        <div className='line'>
          <div className='meta'>
            <div className='padding'>
              <span className='date'>{this.props.line.time}</span>
              <span className='author'>{this.props.line.author}</span>
              <span className='file'>
                <a href={'../' + this.props.line.filename}>
                  {this.props.line.filename}:{this.props.line.line_number}
                </a>
              </span>
            </div>
          </div>
          <div className='content'>
            <div className='padding'>
              <span>{this.props.line.content}</span>
            </div>
          </div>
        </div>
      );
    }
  });

  $(document).ready(function() {
    React.renderComponent(<FilterableTODOList lines={lines} />, document.getElementById('all'));
  });
</script>

<script type='text/javascript'>
  $(document).ready(function() {
    $('select#author').chosen();

    $('select#author').change(function() {
      selectedValue = $(this).val();
      $('div.line').each(function(i, line) {
        lineElement = $(line);
        var author = lineElement.find($('span.author')).text();

        if (author === selectedValue) {
          lineElement.show();
        } else {
          lineElement.hide();
        }
      });
    });
  });
</script>

