<div class='controls'>
  <div class='filter'>
    Filter by:
    <select data-placeholder='Author' id='author'>
      <option></option>
      <% for author in all_lines.map(&:author).uniq %>
        <option><%= author %></option>
      <% end %>
    </select>
  </div>
</div>

<div id="all">
</div>

<script type="text/jsx">
  /** @jsx React.DOM */

  var lines = <%= all_lines.map(&:to_hash).to_json %>;

  var TODOLineList = React.createClass({
    render: function() {
      var lines = [];
      this.props.lines.forEach(function(line) {
        lines.push(<TODOLine line={line} />);
      });

      return (
        <div className='lines'>
          {lines}
        </div>
      );
    }
  });

  var TODOLine = React.createClass({
    render: function() {
      console.log(this);
      return (
        <div className='line'>
          <div className='meta'>
            <div className='padding'>
              <span className='date'>{this.props.line.time}</span>
              <span className='author'>{this.props.line.author}</span>
              <span className='file'>
                <a href={'../' + this.props.line.filename}>
                  {this.props.line.filename}:{this.props.line.line_number}
                </a>
              </span>
            </div>
          </div>
          <div className='content'>
            <div className='padding'>
              <span>{this.props.line.content}</span>
            </div>
          </div>
        </div>
      );
    }
  });

  $(document).ready(function() {
    React.renderComponent(<TODOLineList lines={lines} />, document.getElementById('all'));
  });
</script>

<script type='text/javascript'>
  $(document).ready(function() {
    $('select#author').chosen();

    $('select#author').change(function() {
      selectedValue = $(this).val();
      $('div.line').each(function(i, line) {
        lineElement = $(line);
        var author = lineElement.find($('span.author')).text();

        if (author === selectedValue) {
          lineElement.show();
        } else {
          lineElement.hide();
        }
      });
    });
  });
</script>

