<html>
  <head>
    <title>todidnt</title>
    <link href='style.css' rel='stylesheet'>
  </head>

  <body>
    <header>
      <h1>todidnt</h1>
    </header>

    <section class='content'>
      <%= yield %>
    </section>
  </body>
</html>
