<html>
  <head>
    <title>todidnt</title>
    <link href='css/style.css' rel='stylesheet'>
    <link href='css/chosen.min.css' rel='stylesheet'>
    <script src='js/jquery-2.1.0.min.js'></script>
    <script src='js/chosen.jquery.min.js'></script>
    <script src='js/react.min.js'></script>
    <script src='js/JSXTransformer.js'></script>
  </head>

  <body>
    <header>
      <h1>todidnt</h1>
    </header>

    <section class='content'>
      <%= yield %>
    </section>

    <footer>
      Made by <a href='http://amberfeng.com'>Amber Feng</a> (:
    </footer>
  </body>
</html>
